/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */

/* babylonica-regular - latin */
/* alegreya-sc-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/alegreya-sc-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* b612-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'B612 Mono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/b612-mono-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */

.wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
    overflow: hidden; /* contain float */
}

.main {
	float: right;
	width: 565px;
	margin-right: 15px;
	padding-top: 25px;
}

.announcement {
	margin-right: 600px;
	margin-left: 20px;
	
}

.copyright {
	clear: both;
	font: bold 12px Tahoma, Geneva, sans-serif;
	color: #65747E;
	padding: 5px;
  margin: 0 15px;
	border: 1px dotted #98AFBE;
  border-left: none;
  border-right: none;
}


.banner h1 {
	font: normal 48px Georgia, "Times New Roman", Times, serif;
	text-align: right;
  color: #272D32;
}

.main h2 {
	font: 24px Tahoma, Geneva, sans-serif;
	margin-bottom: 15px;
	font-family: Tahoma, Geneva, sans-serif;
}
.main p {
	font: 14px Tahoma, Geneva, sans-serif;
	color: #323A3F;
	margin-bottom: 20px;
	font-family: Tahoma, Geneva, sans-serif;
}

.announcement h2 {
	font: italic bold normal 20px Georgia, "Times New Roman", Times, serif;
	text-align: center;
	color: #323A3F;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 18px;
}
.announcement ul {
	font: 14px Tahoma, Geneva, sans-serif;
}

/* add your styles here */

html {
	height: 100%;
  background-image: linear-gradient(to bottom, rgb(176,194,213), white 700px);
}
.wrapper {
  background-color: #FFF;
  background-image: url(images/bg_main.jpg);
  background-position: left top;
  background-repeat: no-repeat;
}
.banner {
 margin-top: 48px;
}
.announcement {
  background: url(images/scroll_top.jpg) no-repeat center top,
              url(images/scroll_bottom.jpg) no-repeat center bottom,     
              url(images/scroll_middle.jpg) repeat-y center top;
  padding: 70px 0 60px 0;
  margin-top: 115px;
}
.main h2 {
  background-image: url(images/underline.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-bottom: 7px;
}
.announcement li {
  list-style: none;
  background-image: url(images/bullet.png);
  background-repeat: no-repeat;
  background-position: 0 4px;
  padding-left: 25px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 40px;
}
